@model authorizationcw.Models.GameModel

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Publisher: @Model.Publisher</h6>
    <p class="card-text">@Model.Description</p>
    <p class="card-text">Rating: @Model.Rating</p>
  </div>
</div>