@model authorizationcw.Models.GameModel

@* page designed to give you pause before you permanently remove something from the list. has 2 options to either continue or turn back *@
<div class="jumbotron">
  <h1 class="display-4">You are deleting @Model.Title </h1>
  <p class="lead">If you delete this, it will be gone forever. Do you wish to proceed?</p>
  <hr class="my-4">
  <p class="lead">
    <a asp-controller="Game" asp-action="DeleteGame" asp-route-gameID= "@Model.id">
        <button class = "btn btn-outline-danger" id="newbtn">Proceed</button>
    </a>

    <a asp-controller="Game" asp-action="ViewDetails" asp-route-gameID= "@Model.id">
        <button class = "btn btn-outline-info" id="newbtn">Return to Safety</button>
    </a>
  </p>
</div>