@model authorizationcw.Data.ApplicationDbContext

<h1 id="newTitle">All Games</h1>

@foreach (GameModel g in @Model.games)
{
    <partial name = "_views" model = "@g" />

    <a asp-controller="Game" asp-action="ViewDetails" asp-route-gameID= "@g.id">
        <button class = "btn btn-primary">Details</button>
    </a>
}